@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

@layer components {
  .basic-container {
    @apply max-w-1200 mx-auto w-full px-16;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}
