@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Pretendard-Regular';
}

body {
  background-color: white;
}

body.dark {
  background-color: #1b1b1b;
  color: white;
}

body.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #1b1b1b inset;
  -webkit-text-fill-color: white;
}

@layer components {
  .basic-container {
    @apply mx-auto w-full max-w-1200 px-16;
  }
  .page-container {
    @apply mx-auto mt-50 w-full max-w-1200 px-16;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .basic-input {
    @apply h-58 rounded-md border-2 px-16 outline-none focus:border-custom-green-200;
  }
  .contour {
    @apply m-16 border-t border-gray-300;
  }
  .min-screen {
    min-height: calc(100vh - 284px);
  }
  .dark-base {
    @apply transition-all duration-500 dark:bg-custom-black dark:text-white;
  }
  .dark-border {
    @apply dark:border-[1.5px] dark:border-white;
  }

  .detail-title {
    @apply dark-base text-xl-bold text-nomad-black;
  }

  .recommend-arrow-button {
    @apply z-50 m-0 flex h-40 w-40 cursor-pointer touch-manipulation items-center justify-center rounded-xl border-0 bg-transparent bg-white p-0 shadow-md;
  }

  .markdown-content h1,
  .markdown-content h2,
  .markdown-content h3,
  .markdown-content h4,
  .markdown-content h5,
  .markdown-content h6,
  .markdown-content p,
  .markdown-content blockquote,
  .markdown-content ul,
  .markdown-content ol,
  .markdown-content li,
  .markdown-content table,
  .markdown-content th,
  .markdown-content td,
  .markdown-content a,
  .markdown-content strong,
  .markdown-content em,
  .markdown-content code {
    @apply text-black dark:text-white;
  }
}

@keyframes darkenBg {
  0% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.animate-darken {
  animation: darkenBg 3s ease-in-out forwards;
}

/* input number일 때 화살표 없애기 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input 박스의 배경색 하늘색으로 표현해 주는 기능 막기 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* 전체 스크롤바 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 스크롤바의 핸들 */
::-webkit-scrollbar-thumb {
  background: #ced8d5;
  border-radius: 10px;
}

/* 핸들에 마우스를 올렸을 때 */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

/* 마크다운 */
.w-md-editor-preview ol {
  list-style-type: decimal;
  color: #112211;
}

.w-md-editor-preview ul {
  list-style-type: disc;
  color: #112211;
}

.markdown-content h1 {
  font-size: 32px;
  margin: 20px 0;
}

.markdown-content h2 {
  font-size: 24px;
  margin: 18px 0;
}

.markdown-content h3 {
  font-size: 20px;
  margin: 16px 0;
}

.markdown-content blockquote {
  padding-left: 16px;
  border-left: 4px solid #ccc;
  color: #112211;
  margin: 20px 0;
}

.markdown-content ul {
  list-style-type: disc;
  margin-left: 24px;
  color: #112211;
}

.markdown-content ol {
  list-style-type: decimal;
  margin-left: 24px;
  color: #112211;
}

.markdown-content p {
  margin: 16px 0;
}

.markdown-content li {
  margin-bottom: 8px;
  color: #112211;
}
